<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
    <title>Destinations</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-warning  mb-3">
        <div class="container">
            <a href="/" class="navbar-brand">Countries</a>
            <a href="/country" class="navbar-brand">Destinations</a>
        </div>
    </nav>
    <br>
    <div class="container">
        <div class="search card card-body" style="border-radius: 10px;">
            <h4>Find destinations</h4>
            <form action="/city" method="POST">
                <select name="country-selector" class="form-control" method="GET" style="border-radius: 10px;" required>
                    <option value="" selected disabled hidden>Please Choose Country</option>
                    {% for country in country_list %}
                        {% if selected_country and selected_country.id == country.id %}
                            <option value="{{ country.id }}" selected>
                                {{ country.country_name }}
                            </option>
                        {% else %}
                            <option value="{{ country.id }}">
                                {{ country.country_name }}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>
                <br>
                <button type="submit" class="btn btn-warning">List Cities</button>
            </form>
        </div>
        <br>
        {% if selected_country and city_list %}
        <div class="card card-body mb-3" style="border-radius: 10px;">
            <div class="row">
                <div class="col-md-3">
                    <form action="/destinations" method="POST">
                        <select name="city-selector" class="form-control" method="GET" style="border-radius: 10px;"
                            required>
                            <option value="" selected disabled hidden>Please Choose Country</option>
                            {% for city in city_list %}
                                <option value="{{ city.id }}">
                                    {{ city.city_name }}
                                </option>
                            {% endfor %}
                        </select>
                        <br>
                        <button type="submit" class="btn btn-warning">List Destinations</button><br>
                    </form><br>
                    <button type="submit" id="add-city-button" class="btn btn-warning" onclick="showfield(this.value)")>Add City</button>
                    <form style="width:500px; display:inline-block;" action="/add_city" method="POST">
                        <div id="hidden-city-input"></div>
                    </form>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            function showfield(id) {
                if (id != null) {
                    document.getElementById('add-city-button').style.display = "none";
                    document.getElementById('hidden-city-input').innerHTML =
                        '<label for="text">City Name</label>&#32;<input type="hidden" name="country-id" value="{{selected_country.id}}"><input type="text" name="city-name" style="border-radius: 10px;"/>&#32;<button type="submit" class="btn btn-warning">Add City</button>';
                }
            }
        </script>
        {% elif selected_country %}
            <div class="card card-body mb-3" style="border-radius: 10px;">
                <div class="row">
                    <div class="col-md-3">
                        <form action="/add_city" method="POST">
                            <label for="">Add first city</label>
                            <input type="hidden" name="country-id" value="{{selected_country.id}}">
                            <input type="text" name="city-name" style="border-radius: 10px;" /><br><br>
                            <button type="submit" id="add-city-button" class="btn btn-warning">Add City</button>
                        </form>
                    </div>
                </div>
            </div>
        {% elif destination_list and city_id and country_list %}
            <div id="destination">
                <div class="card card-body mb-3" style="border-radius: 10px;">
                    <form action="/send_destinations" method="POST">
                        {% for destination in destination_list %}
                            <table style="width:100%">
                                <tr>
                                    <input type="checkbox" name="send_destinations" value="{{destination.id}}" style="border-radius: 10px;">
                                    {{ destination.destination }} <br>
                                </tr>
                            </table>
                        {% endfor %}
                        <label for="email">E-Mail</label>
                        <input type="text" name="email" id="email" formaction="/send_destinations" required="required" />
                        <button type="submit" class="btn btn-warning">Send</button>
                    </form>
                </div>
            </div>
            <div id="destination">
                <div class="card card-body mb-3" style="border-radius: 10px;">
                    <form style="width:500px; display:inline-block;" action="/add_destination" method="POST">
                        <label for="add-destination"> Add new destination</label><br>
                        <input type="hidden" name="city-id" value="{{city_id}}">
                        <textarea name="add-destination" style="border-radius: 10px;"></textarea><br>
                        <button type="submit" class="btn btn-warning" formaction="/add_destination">Add destination</button>
                    </form>
                </div>
            </div>
        {% elif city_id and country_list and not destination_list %}
            <div id="destination">
                <div class="card card-body mb-3" style="border-radius: 10px;">
                    <form style="width:500px; display:inline-block;" action="/add_destination" method="POST">
                        <label for="add-destination"> No destinations here!</label><br>
                        <label for="add-destination"> Add new destination</label><br>
                        <input type="hidden" name="city-id" value="{{city_id}}">
                        <textarea name="add-destination" style="border-radius: 10px;"></textarea><br>
                        <button type="submit" class="btn btn-warning" formaction="/add_destination">Add destination</button>
                    </form>
                </div>
            </div>
        {% endif %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>
</body>

</html>