{% extends "country.html" %}
{% block content %}
<div id="add-city">
    <div class="card card-body mb-3" style="border-radius: 10px;">
        <div class="row">
            <div class="col-md-3">
                <form action="/add_city" method="POST">
                    <label for="city-name">Add city to <input type="text" name="city-name"
                            style="border-radius: 10px;" /></label>
                    <button type="submit" class="btn btn-warning">Add</button>
                </form>
                <br>
                <form action="/city">
                    <button type="button" class="btn btn-warning">Back</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

'City Name: <input type="text" name="add-city" style="border-radius: 10px;" />
<button type="submit" class="btn btn-warning" formaction="/add_city">Add City</button>