{% extends "destinations.html" %}
{% block content %}
{% if city_list %}
<div id="city">
    <div class="card card-body mb-3" style="border-radius: 10px;">
        <div class="row">
            <div class="col-md-3">
                <form action="/add_destination" method="POST">
                    <p class="lead">
                        <select name="city-selector" class="form-control" method="GET" action="/"
                            style="border-radius: 10px;"
                            onchange="showdestination(this.options[this.selectedIndex].value)">
                            {% for city in city_list %}
                            <option value="{{ city.id }}" SELECTED required>
                                {{ city }}
                            <option value="" disabled selected hidden>Please Choose City</option>
                            {% endfor %}
                            {% endif %}
                            </option>
                        </select><br>
                        <button type="submit" class="btn btn-warning" formaction="/list_destinations">List Destinations</button>
                        <div id="hidden-destination-input"></div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function showdestination(name) {
            if (name != null) {
                document.getElementById('hidden-destination-input').innerHTML =
                    'destination: <textarea name="add-destination" style="border-radius: 10px;"></textarea> <br> <button type="submit" class="btn btn-warning" formaction="/add_destination">Add destination</button>';
            } else {
                document.getElementById('hidden-destination-input').innerHTML = '';
            }
        }
    </script>
    {% endblock %}