<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
    <title>Destinations</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-warning  mb-3">
        <div class="container">
            <a href="/" class="navbar-brand">Countries</a>
            <a href="/destinations" class="navbar-brand">Destinations</a>
        </div>
    </nav>
    <br>
    <div class="container">
        <div class="search card card-body" style="border-radius: 10px;">
            <h4>Find destinations</h4>
            <form action="/add_city" method="POST">
                <p class="lead">
                    <select name="country-selector" class="form-control" method="GET" action="/"
                        style="border-radius: 10px;" required
                        onchange="showfield(this.options[this.selectedIndex].value)">
                        {% for country in country_list  %}
                        <option value="{{ country.id }}">
                            {{ country.country_name }}
                        <option value="" disabled selected hidden required>Please Choose Country</option>
                        {% endfor %}
                        </option>
                    </select><br>
                    <button type="submit" class="btn btn-warning" formaction="/list_cities">List Cities</button>
                    <br>
                    <div id="hidden-city-input"></div>
            </form>
            </p>
        </div><br>
        {% block content %}

        {% endblock %}
        <script type="text/javascript">
            function showfield(name) {
                if (name != null) {
                    document.getElementById('hidden-city-input').innerHTML =
                        'City Name: <input type="text" name="add-city" style="border-radius: 10px;"/> <button type="submit" class="btn btn-warning" formaction="/add_city">Add City</button>';
                } else {
                    document.getElementById('hidden-city-input').innerHTML = '';
                }
            }
        </script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>
</body>

</html>